.offersContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.offersList {
  display: flex;
  align-items: center;
  justify-self: start;
  list-style: none;
  gap: 2vw;
}
