.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 1.5rem;
  margin-bottom: 1rem;

  @media (max-width: 780px) {
    flex-direction: column;
  }
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  @media (max-width: 780px) {
    flex-direction: column;
  }
}
