.mainWrapper {
  margin: auto;
  padding: 0 6rem;
  min-height: 75vh;
  background: radial-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 90%));
  border-bottom: 1px solid var(--grey);
}

.heroOne,
.heroTwo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heroTextOne,
.heroTextTwo {
  padding: 0.5rem 1rem;
  font-family: "AlegreyaSans", sans-serif;
  text-align: center;
}

.heroTextOne {
  margin-left: 6vw;
  font-size: 4.3vw;
  border-bottom: clamp(1px, 1vw, 6px) solid var(--accent-color-green);
}

.heroTextTwo {
  font-size: 4vw;
  border-bottom: clamp(1px, 1vw, 6px) solid var(--accent-color-blue);
}

.heroImageOne,
.heroImageTwo {
  max-width: 57%;
}

.heroImageOne {
  position: relative;
  top: -1px;
  margin-right: -5rem;
}
