#root {
  // colors
  --white: #fafafa;
  --black: #181818;
  --light-grey: #e2e2e2;
  --grey: #cfcfcf;
  --dark-grey: #494949;
  --accent-color-green: #b0cb1f;
  --accent-color-blue: #0092cb;
  --accent-color-teal: #3ec492;
}
