.itemContainer {
  list-style: none;
  border: 1px solid var(--grey);
  border-bottom: 3px solid var(--grey);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  max-width: 33%;

  &:hover {
    transform: translateY(-1px);
  }
}

.itemPhoto {
}

.itemDescription {
  margin: 2rem;
  max-height: 30%;
}

.descriptionHeader {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-family: "AlegreyaSans", sans-serif;
}

.description {
  font-family: "Cabin", sans-serif;
  font-size: 1.15rem;
}
