.itemContainer {
  list-style: none;
  border: 1px solid var(--grey);
  border-bottom: 3px solid var(--grey);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 33%;
  height: 26vw;
  &:hover {
    transform: translateY(-1px);
  }
}

.itemPhoto {
  width: 100%;
  max-height: 75%;
  object-fit: cover;
  border-bottom: 1px solid var(--grey);
}

.itemDescription {
  padding: 2rem;
}

.descriptionHeader {
  margin-bottom: 1rem;
  font-size: 1.9rem;
  font-family: "AlegreyaSans", sans-serif;
}

.description {
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
}
