.textBannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 1rem 4vw;
  max-width: 80rem;
  margin: auto;
  font-family: "AlegreyaSans", sans-serif;
}

.bannerHeader {
  font-size: clamp(2rem, 3.5vw, 4rem);
}

.bannerText {
  font-size: clamp(1.3rem, 2vw, 2rem);
  text-align: justify;
  margin-bottom: 4rem;
  line-height: clamp(1.7rem, 3vw, 3rem);
}
