.textBannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 4rem 27vw;
  font-family: "AlegreyaSans", sans-serif;
}

.bannerHeader {
  font-size: 4rem;
}

.bannerText {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 4rem;
}
