.mainContainer {
  align-self: center;
  max-width: 90rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.innerContainer {
  width: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.mainHeader,
.subHeader1,
.subHeader2 {
  font-family: "AlegreyaSans", sans-serif;
}

.mainHeader {
  font-size: clamp(2.3rem, 4vw, 3rem);
}

.subHeader1,
.subHeader2 {
  font-size: clamp(1.3rem, 2vw, 1.7rem);
}

.text1,
.text2 {
  font-family: "Cabin", sans-serif;
  line-height: 32px;
  font-size: clamp(1rem, 2vw, 1.1rem);
}

.contact {
  padding: 0.7rem 1.7rem;
  font-size: 0.9rem;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--accent-color-green);
  font-family: "Cabin", sans-serif;
  letter-spacing: 1px;

  &:hover {
    background-color: var(--dark-grey);
  }
}

.infoList {
  list-style: none;
  font-family: "Cabin", sans-serif;
  line-height: 48px;
  font-size: clamp(1rem, 2vw, 1.1rem);

  li {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    path {
      fill: var(--accent-color-green);
    }
  }
}

.heroImageContainer {
  width: 50%;
}

.heroImage {
  width: 100%;
  max-width: 600px;
}
