.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
