.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin: auto;
  max-width: 80rem;
  padding: 0 2rem 2rem 4rem;
}

.contactDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 2.5vw);
}
