.listDescription {
  font-family: "Cabin", sans-serif;
}

.listContainer {
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-family: "Cabin", sans-serif;

  li {
    white-space: pre-wrap;
    margin: 1rem 0;
  }

  li::marker {
    color: var(--accent-color-green);
  }
}

.checkMarkList {
  li::marker {
    content: "✓  ";
  }
}
