.imageBannerContainer {
  position: relative;
  width: 100%;
  height: clamp(15rem, 38vw, 45rem);
  background-image: url("../../assets/footerBg.webp");
  background-size: cover;
  background-position: 50% 59%;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--grey);
}

.imageBannerText {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  text-align: center;
  font-family: "AlegreyaSans", sans-serif;
  font-size: clamp(1.1rem, 4vw, 5rem);
  color: var(--white);
  backdrop-filter: blur(10px);
}
