.imageBannerContainer {
  position: relative;
  width: 100%;
  height: clamp(15rem, 38vw, 45rem);
  background-image: url("../../assets/footerBg.jpg");
  background-size: cover;
  background-position: 50% 59%;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--grey);
}

.imageBannerText {
  width: max-content;
  margin: 2rem auto;
  text-align: center;
  font-family: "AlegreyaSans", sans-serif;
  font-size: clamp(1.1rem, 4vw, 5rem);
  color: var(--white);
  backdrop-filter: blur(10px);
}
