.questionContainer {
  align-self: flex-start;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 1rem 2rem;
  max-width: calc(50% - 1rem);
  max-height: 3.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:last-child {
    margin-right: auto;
  }

  &:hover {
    max-height: 15rem;
  }
}

.questionInnerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.questionIcon {
  margin-top: -1rem;
}

.question {
  font-family: "AlegreyaSans", sans-serif;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  margin-bottom: 1rem;
}

.answer {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}
