.questionContainer,
.questionContainerOpen {
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 1rem 2rem 1rem 3.5rem;
  max-width: calc(50% - 1rem);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:last-child {
    margin-right: auto;
  }

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);

    .questionInnerContainer {
      &::before,
      &::after {
        background-color: var(--white);
      }
    }
  }

  @media (max-width: 1250px) {
    max-width: 50rem;
    align-self: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}

.questionContainer {
  max-height: 3.5rem;

  @media (max-width: 650px) {
    max-height: 4rem;
  }

  &:nth-child(7) {
    @media (max-width: 1750px) {
      max-height: 5.5rem;
    }
    @media (max-width: 1105px) {
      max-height: 3.5rem;
    }
    @media (max-width: 735px) {
      max-height: 5.5rem;
    }
  }
}

.questionContainerOpen {
  max-height: 15rem;

  @media (max-width: 650px) {
    max-height: 25rem;
  }

  .questionInnerContainer {
    &::before {
      transform: translate(0) rotate(-180deg);
    }

    &::after {
      transform: translate(0);
    }

    &::before,
    &::after {
      background-color: var(--white);
    }
  }

  .answer {
    transform: translate(0);
  }
}

.questionInnerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;

  &::before,
  &::after {
    position: absolute;
    top: 10px;
    left: -40px;
    content: "";
    width: 25px;
    height: 4px;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
    transform: translate(0) rotate(90deg);
  }

  &::after {
    transform: translate(0);
  }

  @media (max-width: 650px) {
    margin-bottom: 0;
  }
}

.questionIcon {
  margin-top: -1rem;
}

.question {
  font-family: "AlegreyaSans", sans-serif;
  font-size: clamp(1.1rem, 2vw, 1.4rem);

  @media (max-width: 650px) {
    margin-bottom: 1.7rem;
  }
}

.answer {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}
