.offerContainer {
  height: max-content;
  max-height: 15rem;
  width: 10vw;
  max-width: 10rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 900px) {
    width: 40vw;
  }
}

.offerIcon {
  width: 100%;
}

.offerTitle {
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-size: clamp(1.1rem, 1.5vw, 1.3rem);
}
