.offerContainer {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.offerIcon {
  width: 100%;
}

.offerTitle {
  font-family: "Cabin", sans-serif;
  text-align: center;
}
