.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--black);
  background-color: var(--light-grey);
  padding: 1rem 1rem;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 80rem;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 2rem;

  @media (max-width: 600px) {
    margin-left: 5vw;
    flex-direction: column;
  }
}

.sectionHeader {
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;

  &::after {
    content: "";
    background-color: var(--dark-grey);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 6rem;
  }
}

.sectionList,
.socialsList {
  list-style: none;
}

.socialsList {
  display: flex;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  li:nth-of-type(1) {
    path {
      fill: #4267b2;
    }
  }

  li:nth-of-type(2) {
    path {
      fill: #1da1f2;
    }
  }
}

.sectionListItem {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;

  a {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--accent-color-teal);
    }
  }

  svg {
    margin-right: 0.5rem;
  }
}

.disclaimerText {
  font-size: 0.9rem;
  p {
    margin: 0.5rem 0;
  }
}

.rights {
  font-size: 0.8rem;
  margin-top: 3rem;
  align-self: center;
}
