.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: var(--black);
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  background-color: var(--light-grey);
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 80rem;
  padding: 2rem;
  padding-top: 4rem;
  background-color: var(--light-grey);
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4vw;
  margin-bottom: 2rem;

  @media (max-width: 700px) {
    margin-left: 5vw;
    flex-direction: column;
  }
}

.disclaimer {
  @media (max-width: 700px) {
    margin-left: 5vw;
  }
}

.sectionHeader {
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;

  &::after {
    content: "";
    background-color: var(--dark-grey);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 6rem;
  }
}

.sectionList,
.socialsList {
  list-style: none;
}

.socialsList {
  display: flex;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  li:nth-of-type(1) {
    path {
      fill: hsl(220, 46%, 48%);
    }
  }

  li:nth-of-type(2) {
    path {
      fill: hsl(203, 89%, 53%);
    }
  }
}

.sectionListItem {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;

  a {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--accent-color-teal);
    }
  }

  svg {
    margin-right: 0.5rem;
  }
}

.disclaimerText {
  font-size: clamp(0.6rem, 3vw, 1rem);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey);

  p {
    margin: 0.5rem 0;
  }
}

.rights {
  font-size: clamp(0.5rem, 3vw, 0.9rem);
  margin-top: 3rem;
  margin-bottom: 1rem;
  align-self: center;
  text-align: center;
}
