.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--black);
  background-color: var(--light-grey);
  padding: 1rem 1rem;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(25rem, 80%, 80rem);
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.sectionHeader {
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;

  &::after {
    content: "";
    background-color: var(--dark-grey);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 6rem;
  }
}

.disclaimerText {
  font-size: 0.9rem;
  p {
    margin: 0.5rem 0;
  }
}

.rights {
  font-size: 0.8rem;
  margin-top: 3rem;
}
