.postsGalleryContainer {
  width: 100%;
  min-height: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 7vw 0 2rem 0;
}

.postsGallery {
  display: flex;
  justify-content: flex-start;
  gap: 3.5vw;
  padding: 1rem 5vw;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vw;
  }
}

.postsGalleryPagination {
  display: flex;
  gap: 1rem;
  margin: 2vw 8vw;
  margin-left: auto;
  margin-top: auto;

  button {
    padding: 1.2rem 1.7rem;
    background-color: var(--white);
    border: 1px solid var(--grey);
    font-family: "Cabin", sans-serif;
    cursor: pointer;

    &.active {
      background-color: var(--accent-color-green);
    }

    &:hover {
      border: 1px solid var(--accent-color-green);
    }
  }
}
